:root {
    --left-color: #242e4d;
    --right-color: #897e79;
    --green-dark: #35c3c1;
    --green-light: #00d6b7;
    --gray: #8f8f8f;
    --gray-light: #f5f6f8;
}
* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
nav{
    background-color: var(--left-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 8vh;
    
}

body{
   background-color: #00d6b7;
   padding: 0;
   margin: 0;
   font-family: "Roboto", helvetica, arial, sans-serif;
}

h1 {
    margin: 10px;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    margin-left: 30px;
    margin-right: 30px;
}

#chart-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.chart-item{
    background-color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 15px;
    width: calc(50% - 10px); 
    /* height: calc(50% - 10px);  */
    height: 65vh;
    box-sizing: border-box;
}

zing-grid {
    width: 45vw;
}

p{
    margin: 20px;
    font-size: 1.5rem;
}
