<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
  </head>
  <body>
    <style>
      body{
        background-color: #00d6b7;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Roboto", helvetica, arial, sans-serif;
      }
      a{
        color: white;
      }
    </style>

      <h1>You have successfully logged out!</h1>
      <a href="https://reporting.jaredvillanueva.com/login.html">Return to Login</a>
  </body>
</html>
